*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ctn{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.buttonCta{
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  text-decoration: none;
  vertical-align: middle;
  word-break: normal;
}
